.header {

    display: flex;
    align-items: center;
    justify-content: space-between;
    transition: all 0.5s ease;


    position: fixed;
    top: 0;
    width: 100%;
    z-index: 1000;
    background-color: transparent;
    padding: 27px 17px;



    a {
        color: white;

    }

    span {
        color: var(--main-color);
    }

    ul {
        display: flex;

        li a {
            margin-right: 10px;
            font-size: 15px;


            &:hover {
                color: var(--main-color);
            }
        }

    }

    h5 {
        font-size: 15px;
    }

    .right-side {
        display: flex;
        align-items: center;
        gap: 10px;

        h5 {
            font-size: 18px;
            font-weight: 500;

            &:hover {
                transition: .5s;
                color: #ffa343;
            }
        }

        i {
            font-size: 15px;

            &:hover {
                color: var(--main-color);
                transform: translateY(-3px);
                transition: 0.7s;
            }
        }
    }
}